body {
    height: 900px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.button-container{
    display: flex;
    justify-content: center;
  
    width: 260px;
    height:90px;
}

button{
font-weight: 700;    
font-size: 20px;
margin-left:5px;
margin-right:5px;
display: block;
height: 90px;
width: 90px;
}
